.Rproj.user
.Rhistory
.RData
.Ruserdata
1_viajes_presidenciales/code/.RData
1_viajes_presidenciales/code/.Rhistory
1_viajes_presidenciales/code/.Rproj.user/6497765B/pcs/files-pane.pper
1_viajes_presidenciales/code/.Rproj.user/6497765B/pcs/source-pane.pper
1_viajes_presidenciales/code/.Rproj.user/6497765B/pcs/windowlayoutstate.pper
1_viajes_presidenciales/code/.Rproj.user/6497765B/pcs/workbench-pane.pper
1_viajes_presidenciales/code/.Rproj.user/6497765B/sources/per/t/FF6335C9
1_viajes_presidenciales/code/.Rproj.user/6497765B/sources/prop/INDEX
1_viajes_presidenciales/code/.Rproj.user/shared/notebooks/paths
*.pper
5_secop_integrado/data/SECOP_Integrado_20251025.csv
